
.pcCard {
    background: #0065a8;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    position: relative;
    box-shadow: 0 0 5px #0065a8;
}

.pcCard__img {
    background: #003355;
    border-radius: 20px;
    height: 128px;
    width: 128px;
    box-shadow: 0 0 5px #000;
    color: #fff;
}

.pcCard__title {
    font-size: 26px;
    color: #fff;
    text-shadow: 0 0 4px #fff;

}

.pcCard__description {
    color: #fff8dc;
    font-size: 15px;
}

.pcCard_precio {
    position: absolute;
    bottom: 0;
    color: #0f0;
    right: 10px;
    font-size: 20px;
}