.box {
  width: 30rem;
  border: 1px solid #fff;
  height: 420px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.img {
  filter: brightness(.7);
  max-width: 30rem;
  height: 30rem;
  object-position: center;
}

.box:hover .img{
    position: relative;
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px #000);
    transition: .25s;
}
.box:hover .span{
    position: relative;
    filter: none;
}

.span {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
  color: #fff;
  text-shadow: 0 0 5px #fff;
  
  filter: brightness(.7);
}

@media (max-width:1100px) {
  .box{
    width: 22rem;
  }
  .img{
    width: 22rem;
  }
}