.body {
    background: #0099ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: grid;
    grid-template-columns: 20fr 80fr;
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    gap: 20px;
    
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 150px);
    padding: 5%;
    align-items: center;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap:20px;
    
    overflow-y: scroll;
}
.aside{
    font-size: 2rem;
    background: #fff;
}
.aside__pctype{
    padding: 20px;
    display: grid;
    grid-template-columns: 10fr 95fr;
    align-items: center;
    
}
.aside__pctype p{
    grid-column: 1/3;
}

.aside__order{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.aside__order__select{
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    color: #0099ff;
    border: 1px solid black;
    font-size: 25px;
    padding: 0 15px;
}
.hidden{
    opacity: 0;
}

.aside__order__select svg{
}

@media (max-width:1024px) {
    .section{
        grid-template-columns: 1fr;
    }
    
}

@media (max-width:767px) {
    .main{
        grid-template-columns: 1fr;
        
    }
    .section{
    }
}